body {
	background-color: aqua;
 }

 
 .container{
	width:100%;
	margin: 0;
	height: 100vh;
	
}
.email-cards {
	display: flex;
	flex-direction: column;

}


 .left-col {
	 background-color: crimson;
	 display: flex;
	 align-items: flex-start;
	 flex-direction: column;

 }
 #top-line {
	 display: flex;
	 align-content: center;
 }
 #cat-icon{
	 height: 3em;
	 padding: 8px;
 }
 #welcome{
	 padding-top: .5em;
	 font-size: 16pt;
 }
#button-div{
	margin:20px;
}

 
 .middle-col {
	 display: flex;
	 background-color: coral;
	 flex-direction: column;
 }

 .right-col{
	display: flex; 
	background-color: darkblue;
	 color: aliceblue;

	 flex-direction: column;
 }

 .tofrom {
	 margin: 0px;
	 padding: 0px;
 }

 #title-and-icons {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
 }

 #icons{
	 display: flex;
	 justify-content: end;
	 align-items: center;
 }

 .row {
	 height:  100%;
	 width: 100vw;
 }
 #textarea {
	 background-color: rgba(128, 128, 128, .5);
 }